# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
media/
staticfiles/

# Env & IDE
.env
.venv/
*.code-workspace
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE / Editor stuff
.vscode/
.idea/
.DS_Store

